@tailwind base;
@tailwind components;
@tailwind utilities;

.week-view-rows-60 {
    grid-template-rows: repeat(60, minmax(1.75rem, 1fr));
}

.week-view-rows-56 {
    grid-template-rows: repeat(56, minmax(1.75rem, 1fr));
}

.week-view-rows-52 {
    grid-template-rows: repeat(52, minmax(1.75rem, 1fr));
}

.week-view-rows-48 {
    grid-template-rows: repeat(48, minmax(1.75rem, 1fr));
}

.week-view-rows-44 {
    grid-template-rows: repeat(44, minmax(1.75rem, 1fr));
}

.week-view-rows-42 {
    grid-template-rows: repeat(42, minmax(1.75rem, 1fr));
}

.week-view-rows-40 {
    grid-template-rows: repeat(40, minmax(1.75rem, 1fr));
}

.week-view-rows-36 {
    grid-template-rows: repeat(36, minmax(1.75rem, 1fr));
}

.week-view-rows-32 {
    grid-template-rows: repeat(32, minmax(1.75rem, 1fr));
}

.week-view-rows-28 {
    grid-template-rows: repeat(28, minmax(1.75rem, 1fr));
}
