package components

templ viewInfo(v string) {
	<div class="w-full py-2.5 px-3 bg-gray-50 rounded-md text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6">
		{ v }
	</div>
}
