package components

import (
    "github.com/zafir-co-ao/onna-narciso/web/shared/components"
)

templ HandleUpdateUserPasswordDialog(p UserPasswordUpdateParams) {
    @components.Dialog("Atualizar palavra-passe", UserPasswordUpdateForm(p))
}