package components

import "github.com/zafir-co-ao/onna-narciso/web/shared/components"

templ UserCreateDialog(url, hxTarget, hxTriggerEvent string) {
	@components.Dialog("Adicionar utilizador", UserCreateForm(url, hxTarget, hxTriggerEvent))
}
