package components

import (
    "github.com/zafir-co-ao/onna-narciso/internal/auth"
    "github.com/zafir-co-ao/onna-narciso/web/shared/components"
)

templ HandleUpdateUserPasswordDialog(url string, user auth.UserOutput) {
    @components.Dialog("Atualizar palavra-passe", UserPasswordUpdateForm(url, user))
}