package components

import (
    "github.com/zafir-co-ao/onna-narciso/web/shared/components"
    "github.com/zafir-co-ao/onna-narciso/internal/services"
)

templ ProfessionalCreateDialog(url string, s []services.ServiceOutput) {
    @components.Dialog("Adicionar profissional", ProfessionalCreateForm(url, s))
}

