package components

import (
    "github.com/zafir-co-ao/onna-narciso/web/shared/components"
    "github.com/zafir-co-ao/onna-narciso/internal/services"
)

templ ServiceUpdateDialog(url string, s services.ServiceOutput){
    @components.Dialog("Atualizar serviço", ServiceUpdateForm(url, s))
}