package components

import "github.com/zafir-co-ao/onna-narciso/web/shared/components"

templ CustomerCreteateDialog(url string) {
    @components.Dialog("Adicionar cliente", CustomerCreateForm(url))
}

